body {
    padding: 0 !important;
    overflow: hidden;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    background-color: gray;
}

#table-container::-webkit-scrollbar {
    width: 12px;
    padding: 1px;
}

#table-container::-webkit-scrollbar-track {
    width: 12px;
    background-color: transparent;
}

#table-container::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #333;
    border-radius: 10px;

    border: 3px solid transparent;
    background-clip: padding-box;
}