<link rel="stylesheet" href="/css/booking.css">
<script src="/js/booking.js" defer></script>
<%- include('layout', {body: '' }) %>

    <!-- #region Main Container -->
    <div class="container">
        <h2>Hello World!</h2>
        <form action="/booking" method="POST" class="booking-form">



        </form>
    </div>
    <!-- #endregion -->