<link rel="stylesheet" href="css/editProfile.css">
<%- include('navbarLayout', {body: '' }) %>

<div class="main-container">
    <h1>Fiók Adatai</h1>

    <form action="" method="post" class="user-data-container">
        <div class="labels-container">
            
        </div>

        <div class="data-container"></div>
    </form>
</div>

<%- include('footer', {body: '' }) %>