<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParKing</title>
    <link rel="icon" href="/img/img_logo.png">
</head>

<body>

    <div class="main-container">
        <%- body %>
    </div>
</body>

</html>