<link rel="stylesheet" href="/css/mainpage.css">
<script src="/js/main.js" defer></script>
<%- include('navbarLayout', {body: '' }) %>

    <!-- #region Main Container -->
    <div class="main-container">

        <!-- #region Banner Section -->
        <div class="banner">
            <div class="banner-content">
                <% if (user) {%>
                    <h1>Üdvözlünk a ParKing weboldalán <%= user.name %>!</h1>
                    <%}else{%>
                        <h1>Üdvözlünk a ParKing weboldalán!</h1>
                        <%}%>

                            <% if (user) {%>
                                <h2>Kezdd meg a foglalást most!</h2>
                                <div class="get-started">
                                    <a href="/myBookings"><button id="primary-button">Foglalás</button></a>
                                </div>
                                <%}else{%>
                                    <h2>A foglalások megkezdéséhez jelentkezz be! Ha még nincs fiókod regisztálj!</h2>
                                    <div class="get-started">
                                        <a href="/login"><button id="primary-button">Bejelentkezés</button></a>
                                        <a href="/register"><button id="secondary-color">Regisztráció</button></a>
                                    </div>
                                    <%}%>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region About Us -->

        <div class="about-us-container">
            <!-- Anchor spacer -->
            <span id="about-us"></span>

            <!-- About Us Card -->
            <div class="card">
                <div class="image">
                    <img src="/img/parking_garage.jpg" alt="">
                </div>

                <!-- About Us Content -->
                <div class="about-content">
                    <h2>Rólunk</h2>

                    <p>
                        A <strong>ParKing</strong> azért jött létre, hogy egyszerűvé, gyorssá és stresszmentessé tegye a
                        városi parkolást.
                        Szolgáltatásunk segítségével a felhasználók előre lefoglalhatják autójuk helyét egy modern,
                        <strong>5 emeletes, emeletenként 20 férőhelyes</strong> parkolóházban – összesen <strong>100
                            parkolóhely</strong> közül.
                    </p>


                    <ul>
                        <h3>Célunk</h3>
                        <li>
                            Felesleges körözés és a zsúfolt parkolóhely-keresés elkerülése
                        </li>
                        <li>
                            Biztonságos parkolóhelyek nyújtása megfizethető áron
                        </li>
                        <li>
                            Parkolóhely foglalás egyszerűvé tétele
                        </li>
                        <li>
                            Szabad parkoló helyek valós idejű mutatása
                        </li>
                    </ul>

                    <p>
                        Hiszünk abban, hogy a parkolásnak nem kell idegőrlőnek lennie. A ParKinggel minden autós
                        kényelmesen,
                        biztonságosan és kiszámítható módon tervezheti útját.
                    </p>

                    <p>
                        <strong>ParKing – Foglalj előre, érkezz gond nélkül.</strong>
                    </p>
                </div>
            </div>
        </div>

        <!-- #endregion -->

        <!-- #region Contact -->

        <div class="contact-container">
            <span id="contact"></span>

            <div class="card">
                <div class="image">
                    <img src="/img/parking_support.png" alt="">
                </div>

                <form id="sendMessageForm" method="POST" action="/sendMessage" class="contact-content">
                    <h2>Kapcsolat - üzenetküldés</h2>
                    <label for="messageInput">Üzenet:</label>
                    <textarea name="message" id="messageInput"></textarea>
                    <div class="actions-container">
                        <button type="submit" class="btn">Küldés</button>
                        <button type="button" class="btn" onclick="deleteMessageContent()">Törlés</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- #endregion -->

    </div>
    <!-- #endregion -->

<%- include('footer', {body: '' }) %>
