/* #region Setting Basic Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* #endregion */

/* #region Setting Background */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
/* #endregion */

/* #region Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 500px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 25px;
    font-size: 16px;
    padding: 30px;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .row .input-field {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid white;
    height: 30px;
}

.container .row .input-field input {
    border: none;
    background-color: rgba(0,0,0,0);
    padding: 5px 0;
    width: 92%;
}

.container .row .input-field input:focus {
    outline: none;
}

.container .row .input-field label {
    transform: translateY(-110%);
    transition: .3s;
    width: fit-content;
}

.container .row .input-field input:focus ~ label {
    transform: translateY(-250%);
}

.container .row svg {
    position: absolute;
    right: 30px;
}

.container button {
    width: 100%;
    border: none;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 15px 0;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s;
}

.container button:hover {
    scale: 1.03;
}
/* #endregion */

/* #region Responsivity */
@media (max-width:400px) {
    .container {
        height: 100vh;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    .container .row .input-field input {
        width: 90%;
    }
}
/* #endregion */