* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
}

/* Register  */
.container { 
    max-width: 800px;
    width: 80%;
    height: 500px;
    background-color: #dedede67;
    backdrop-filter: blur(10px);
    border: 2px solid whitesmoke;
    border-radius: 50px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    transition: .2s;
}

/* Login */

.mirroredCont {
    flex-direction: row-reverse;
    padding-left: 20px;
    padding-right: 0px;
}

.log {
    width: 35%;
    background-color: whitesmoke;
    height: 100%;
    padding: 25px;
    border-radius: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.log button {
    width: 80%;
    font-weight: bold;
    background: linear-gradient(90deg, #00BFFF 0%, #FF6EC7 100%);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 3px 5px 1px rgba(51, 51, 51, 0.288);
    transition: .15s;
}

.log button:hover {
    scale: 1.05;
    box-shadow: 0px 3px 5px 3px rgba(51, 51, 51, 0.158);
}

.reg {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg div {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reg div label,
.reg div input {
    width: 100%;
}

.reg button {
    width: 50%;
    margin-top: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #00BFFF 0%, #FF6EC7 100%);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 3px 5px 3px rgba(51, 51, 51, 0.288);
    transition: .15s;
}

.reg button:hover {
    scale: 1.05;
    box-shadow: 0px 3px 5px 5px rgba(51, 51, 51, 0.301);
}

input {
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 0px 0px #64646448;
    margin-top: 5px;
}

#save {
    padding: none;
    border: default;
    border-radius: default;
    box-shadow: none;
    margin-top: 5px;
}

input:focus {
    border: none;
    outline: none;
}

.hide {
    display: none;
}