<h1>Foglalások</h1>

<div id="table-container" class="mx-auto mt-3" style="max-width:1300px; max-height:750px;overflow-y: auto;">
    <table class="table table-striped table-bordered table-dark table-hover text-center mx-auto align-middle"
        style="max-width: 1300px;">
        <thead class="align-middle">
            <tr>
                <th class="text-center">Név</th>
                <th class="text-center">Rendszám</th>
                <th class="text-center">Parkolóhely</th>
                <th class="text-center">Mettől</th>
                <th class="text-center">Meddig</th>
                <th class="text-center">Állapot</th>
                <th class="text-center">Fizetés állapota</th>
                <th class="text-center">Végösszeg</th>
                <th class="text-center">Foglalás időpontja</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody id="bookingsTable"></tbody>
    </table>
</div>

<div class="modal fade" id="editBookingModal" tabindex="-1" data-bs-theme="dark">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Foglalás Szerkesztése</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Bezárás"></button>
            </div>
            <div class="modal-body">
                <div class="my-2">
                    <label for="plateNum" class="form-label">Rendszám:</label>
                    <input type="text" class="form-control" id="plateNum">
                </div>

                <div class="my-2 row">
                    <div class="col">
                        <label for="floorNum" class="form-label">Emelet:</label>
                        <input type="number" class="form-control" id="floorNum" min="1" max="5">
                    </div>
                    <div class="col">
                        <label for="parkingSpaceNum" class="form-label">Parkoló:</label>
                        <input type="number" class="form-control" id="parkingSpaceNum" min="1" max="20">
                    </div>
                </div>

                <div class="my-2">
                    <label for="startDate" class="form-label">Kezdő dátum:</label>
                    <input type="datetime-local" class="form-control" id="startDate">
                </div>
                
                <div class="my-2">
                    <label for="endDate" class="form-label">Végdátum:</label>
                    <input type="datetime-local" class="form-control" id="endDate">
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Mégsem</button>
                <button type="button" class="btn btn-success" id="saveChangesBtn">Változtatások mentése</button>
            </div>
        </div>
    </div>
</div>