/* #region Adding Custom Fonts */
@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "LSB";
    src: url(../fonts/LeagueSpartan-Bold.otf);
}
/* #endregion */

/* #region Setting Basic Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato Regular";
    font-size: 1rem;
}
/* #endregion */

/* #region Defining Colours */
:root {
    --base-color: #e7ecefff; /* antiflash-white */
    --primary-text-color: #111111;
    --secondary-text-color: #333333;
    --accent-text-color: #f0f0f0;
    --primary-color: #274c77ff; /* inmn-blue */
    --secondary-color: #0870bd; /* air-superiority-blue */
    /* --battleship-gray: #8b8c89ff;  */
    /* --uranian-blue: #a3cef1ff; */
}

.darkmode {
    --base-color: #070b1d; 
    --primary-text-color: #ffffff;
    --secondary-text-color: #dddddd;
    --primary-color: #274c77ff; 
    --secondary-color: #0870bd;
}
/* #endregion */

/* #region Dark Mode Toggling Button */
#dark-mode-switch {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--base-color);
}

#dark-mode-switch svg {
    fill: var(--primary-text-color);
}
/* #endregion */

/* #region Navigation Bar Parts */
nav {
    background-color: var(--base-color);
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: min(30px);
    border-bottom: 5px solid var(--secondary-color);
}

.logo img {
    width: 80px;
    height: 80px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.items a {
    font-family: "LSB";
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2em;
}

.profile {
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
}
/* #endregion */

/* #region Main Container*/

.main-container {
    display: flex;
    width: 100vw;
    font-size: 1rem;
}

/* #region Banner Section */
.banner {
    width: 100%;
    height: 750px;
    background-image: url("../img/kenny-eliason-orGJcWVI6js-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.banner-content {
    background-color: #e7ecef44;
    backdrop-filter: blur(10px);
    height: 100%;
    max-width: 550px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--base-color);
}

.banner h1 {
    color:  var(--accent-text-color);
    font-size: 2.5em;
    font-family: "LSB";
    padding: 15px;
    margin-top: 30px;
    text-align: center;
}

.banner h2 {
    color: var(--accent-text-color);
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.get-started {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: "LSB";
    cursor: pointer;
}

#primary-button {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

#secondary-color {
    color: var(--primary-text-color);
    background-color: var(--base-color);
}
/* #endregion */

/* #endregion */

/* #region Responsivity */
@media (max-width:650px) {
    nav {
        flex-direction: column;
    }
    
    .items {
        flex-direction: column;
    }
}

@media (max-width:850px) {
    .get-started {
        flex-direction: column;
    }
}
/* #endregion */