@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "LSB";
    src: url(../fonts/LeagueSpartan-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "LSB";
    font-size: 1rem;
}

:root {
    --base-color: #e7ecefff; /* antiflash-white */
    --primary-text-color: #111111;
    --secondary-text-color: #333333;
    --primary-color: #274c77ff; /* inmn-blue */
    --secondary-color: #0870bd; /* air-superiority-blue */
    /* --battleship-gray: #8b8c89ff;  */
    /* --uranian-blue: #a3cef1ff; */
}

.darkmode {
    --base-color: #070b1d; 
    --primary-text-color: #ffffff;
    --secondary-text-color: #dddddd;
    --primary-color: #274c77ff; 
    --secondary-color: #0870bd; 
}

nav {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: min(30px);
    border-bottom: 5px solid var(--secondary-color);
}

.logo img {
    width: 80px;
    height: 80px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.items a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2em;
}

.profile {
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
}

@media (max-width:530px) {
    nav {
        flex-direction: column;
    }
    
    .items {
        flex-direction: column;
    }
}