/* #region Color Palette */

:root {
    --asplaht-gray: #8C8A84;
    --parking-zone: #efefef;
    --selected-color: #a1c349;
}

/* #endregion */

.main-container {
    width: 100%;
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--base-color);
    padding: 20px 0px;
}

h1 {
    font-family: LSB;
    font-size: 1.8em;
}

h4 {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

/* #region Parking Space Selector */

.parking-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.parking-map {
    display: grid;
    grid-template-areas: "vertical-container horizontal-container";
    grid-template-columns: 2fr 3fr;

    width: 90%;
    aspect-ratio: 1 / 1;
    background-color: var(--asplaht-gray);
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: var(--container-shadow);
    color: var(--accent-text-color);
}

id {
    pointer-events: none;
    user-select: none;
}

.vertical-container {
    grid-area: "vertical-container";
    display: flex;
    flex-direction: column;
    /* height: 500px; */
}

.vertical-container .horizontal-slot {
    position: relative;
    display: flex;
    align-items: center;

    height: calc(100% / 10);
    width: 50%;
    border-top: 2px solid var(--parking-zone);
    border-right: 0px solid var(--parking-zone);
    border-bottom: 2px solid var(--parking-zone);
    border-left: 4px solid var(--parking-zone);
    padding-left: 5px;
}

.vertical-container .horizontal-slot:first-child {
    border-top: 4px solid var(--parking-zone);
}

.vertical-container .horizontal-slot:last-child {
    border-bottom: 4px solid var(--parking-zone);
}

.vertical-container .horizontal-slot input {
    display: none;
}

.vertical-container .horizontal-slot label {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -5px;
    cursor: pointer;
}

.vertical-container .horizontal-slot:has(input:checked) {
    background-color: var(--selected-color);
}

.horizontal-container {
    grid-area: "horizontal-container";

    display: grid;
    grid-template-areas: 
        "row1"
        "row2"
        "row3";
    grid-template-rows: repeat(3, 1fr);
}

/* Horizontal container row - top */
.horizontal-container .row {
    grid-area: "row1";
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Horizontal container row - middle */
.horizontal-container .col {
    grid-area: "row2";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.horizontal-container .col svg {
    width: 50px;
    height: 50px;
    fill: var(--parking-zone);
}

.horizontal-container .col svg:nth-child(1) {
    rotate: 180deg;
}

/* Horizontal container row - bottom */
.horizontal-container .bottom-row {
    grid-area: "row3";
    align-items: flex-end;
}

/* Horizontal slots - top row */
.horizontal-container .row .vertical-slot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 5);
    height: 50%;
    border-left: 2px solid var(--parking-zone);
    border-top: 4px solid var(--parking-zone);
    border-right: 2px solid var(--parking-zone);
    border-bottom: 0px solid var(--parking-zone);
    padding-top: 5px;
}

.horizontal-container .row .vertical-slot:first-child {
    border-left: 4px solid var(--parking-zone);
}

.horizontal-container .row .vertical-slot:last-child {
    border-right: 4px solid var(--parking-zone);
}

/* Horizontal slots - bottom row */
.horizontal-container .bottom-row .vertical-slot {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* justify-content: flex-end; */

    width: calc(100% / 5);
    height: 50%;
    border-left: 2px solid var(--parking-zone);
    border-top: 0px solid var(--parking-zone);
    border-right: 2px solid var(--parking-zone);
    border-bottom: 4px solid var(--parking-zone);
    padding-bottom: 5px;
}

.horizontal-container .bottom-row .vertical-slot:first-child {
    border-left: 4px solid var(--parking-zone);
}

.horizontal-container .bottom-row .vertical-slot:last-child {
    border-right: 4px solid var(--parking-zone);
}

.horizontal-container .vertical-slot input {
    display: none;
}

.horizontal-container .vertical-slot label {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.horizontal-container .vertical-slot:has(input:checked) {
    background-color: var(--selected-color);
}

#deleteSelection {
    margin-top: 20px;
    color: var(--primary-text-color);
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

.visible {
    display: block !important;
}

/* Level Selector */

.level-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    padding: 30px 0px;
    color: var(--primary-text-color);
}

.level-select .circle {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--secondary-base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.level-select .line {
    width: 4px;
    height: calc(100% / 11);
    background-color: var(--secondary-base-color);
}

.selected-level {
    background-color: var(--secondary-color) !important;
    color: var(--accent-text-color) !important;
}

/* #endregion */

/* #region Form */

.form-items-container {
    display: grid;
    grid-template-areas: 
        "row1"
        "row2"
        "row3"
        "row4";
    grid-template-rows: 3fr 3fr 3fr 1fr;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.form-items-container .row {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-items-container .row h3 {
    margin-left: 5px;
}

.form-items-container .row button {
    width: 80%;
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    padding: 10px;
    border: none;
    border-radius: 20px;
    align-self: center;
    box-shadow: var(--container-shadow);
}

.form-items-container .row .form-field-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    gap: 5px;
}

.form-items-container .row .form-field-row .form-field {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form-items-container .row .form-field-row .form-field input {
    padding: 10px 5px;
    margin-top: 5px;
    border: none;
    background-color: var(--secondary-base-color);
    box-shadow: var(--container-shadow);
    border-radius: 20px;
    cursor: text;

}

.form-items-container .row .form-field-row .form-field input::placeholder {
    color: var(--primary-text-color);
    opacity: 0.5;
}

.form-items-container .row .form-field-row .form-field input:focus {
    outline: 2px solid var(--secondary-color);
}

.form-items-container .row .form-field-row .form-field label {
    margin-left: 5px;
}

/* #endregion */