body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: var(--base-color);
}

.main-container h1 {
    margin-top: 150px;
    font-size: 1.6rem;
    font-family: "LSB";
}

.hide {
    display: none !important;
}

form .row {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

form .row label {
    margin-bottom: 5px;
}

form .row input {
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--secondary-base-color);
    box-shadow: var(--container-shadow);
    border-radius: 20px;
    cursor: text;
    color: var(--primary-text-color);
}

form .row input[type=password] {
    outline: 2px solid var(--secondary-base-color);
    outline-offset: -1px;
}

form .row input:focus,
form .row input:active {
    outline: 2px solid var(--secondary-color);
}

form .row input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: var(--secondary-base-color) !important;
    -webkit-box-shadow: 1px 0 0 1000px var(--secondary-base-color) inset !important;
    -webkit-box-shadow: -1px 0 0 1000px var(--secondary-base-color) inset !important;
    -webkit-text-fill-color: var(--primary-text-color) !important;
}

.btn {
    padding: 10px 20px;
    background-color: var(--base-color);
    color: var(--secondary-color);
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: .3s;
}

.btn:not(:disabled):hover {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    cursor: pointer;
    transition: .3s;
}

.btn:disabled {
    opacity: 0.5;
}

#editBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: var(--base-color);
    color: var(--secondary-color);
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: .3s;
}

#editBtn svg {
    fill: var(--secondary-color);
    transition: .3s;
}

#editBtn:hover {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    cursor: pointer;
    transition: .3s;
}

#editBtn:hover svg {
    fill: var(--accent-text-color);
    transition: .3s;
}

.lastRow {
    display: flex;
    margin: 20px 0 10px;
    gap: 10px;
}

.forget {
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 5px;
}

#editPasswordForm {
    padding: 0 20px;
    background-color: var(--accent-base-color);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
}

#cancelPasswordBtn {
    margin-top: 10px;
}


.footer {
    margin-top: 50px;
}

@media (max-height:390px) {
    .backgroundFilter {
        overflow-x: scroll;
    }
}