body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    background-color: var(--base-color);
}

.main-container h1 {
    margin-top: 150px;
    font-size: 1.6rem;
    font-family: "LSB";
}

.hide {
    display: none;
}

form .row {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

form .row label {
    margin-bottom: 5px;
}

form .row input {
    padding: 10px;
    outline: none;
    border: none;
    background-color: var(--secondary-base-color);
    box-shadow: var(--container-shadow);
    border-radius: 20px;
    cursor: text;
    color: var(--primary-text-color);
}

form .row input:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

form .row input:active {
    outline: none;
}

.btn {
    padding: 10px 20px;
    background-color: var(--base-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: .3s;
    margin-bottom: 10px;
}

.btn:not(:disabled):hover {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    cursor: pointer;
    transition: .3s;
}

.btn:disabled {
    opacity: 0.5;
}