body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 150px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

h1, p {
    color: var(--primary-text-color);
}

a {
    color: var(--primary-color);
}