/* #region Setting Basic Properties */

@font-face {
    font-family: "Lato Regular";
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "LSB";
    src: url(/fonts/LeagueSpartan-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato Regular;
    font-size: 1rem;
    color: var(--primary-text-color);
}

/* #endregion */

/* #region Defining Colours */

:root {
    --base-color: #e7ecefff;
    --secondary-base-color: #cfd8df;
    --primary-text-color: #111111;
    --secondary-text-color: #333333;
    --accent-text-color: #f0f0f0;
    --primary-color: #274c77ff;
    --secondary-color: #0870bd;
    --container-shadow: 0 8px 24px rgba(39, 76, 119, 0.12);

    /* antiflash-white */
    /* inmn-blue */
    /* air-superiority-blue */
    /* --battleship-gray: #8b8c89ff;  */
    /* --uranian-blue: #a3cef1ff; */
}

.darkmode {
    --base-color: #070b1d;
    --secondary-base-color: #0d132e;
    --primary-text-color: #ffffff;
    --secondary-text-color: #dddddd;
    --primary-color: #274c77ff;
    --secondary-color: #0870bd;
    --container-shadow: 0 6px 18px rgba(0, 0, 0, 0.6);
}

/* #endregion */

/* #region Setting Background */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);
    background: url(../img/caleb-rogers-SGLh5-clL4E-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px) brightness(0.8);
}

/* #endregion */

/* #region Dark Mode Toggling Button */

#dark-mode-switch {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    bottom: 10px;
    left: 10px;
    background-color: var(--secondary-base-color);
    z-index: 5;
    box-shadow: var(--container-shadow);
    cursor: pointer;
}

#dark-mode-switch svg {
    fill: var(--primary-text-color);
}

/* #endregion */

/* #region Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: fit-content;
    gap: min(30px);
    background-color: var(--secondary-base-color);
    /* background-color: #cfd8df67; */
    box-shadow: var(--container-shadow);
    padding: 20px;
    border: var(--primary-color) 4px solid;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: LSB;
}

.container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .row .input-field {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    height: 30px;
}

.container .row .input-field input {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 0;
    width: 92%;
}

.container .row .input-field input:focus {
    outline: none;
}

.container .row .input-field label {
    transform: translateY(-110%);
    transition: .3s;
    width: fit-content;
    cursor: text;
}

.container .row svg {
    position: absolute;
    right: 0px;
    fill: var(--primary-text-color);
}

.container #errorMessage {
    font-size: 0.8em;
    display: none;
    color: red;
}

.container button {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--accent-text-color);
    font-weight: bolder;
    padding: 15px 0;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s;
    font-family: LSB;
}

.container button:hover {
    scale: 1.03;
}

.container .forget {
    align-self: flex-end;
    margin-top: -30px;
}

.container .policies {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.container .policies .column {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* #endregion */

/* #region Responsivity */
@media (max-width:400px) {

    .container {
        height: 100vh;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    .container .row .input-field input {
        width: 90%;
    }
}

/* #endregion */