/* #region Setting Background */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);
    background: url(../img/caleb-rogers-SGLh5-clL4E-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px) brightness(0.8);
    color: var(--primary-text-color);

}

/* #endregion */

/* #region Main Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: fit-content;
    gap: min(30px);
    background-color: var(--secondary-base-color);
    /* background-color: #cfd8df67; */
    box-shadow: var(--container-shadow);
    padding: 20px;
    border: var(--primary-color) 4px solid;
    border-radius: 25px;
    backdrop-filter: blur(10px);
}

.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-family: LSB;
}

.container .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .row .input-field {
    display: flex;
    flex-direction: column;
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    height: 30px;
}

.container .row .input-field input {
    border: none;
    background-color: var(--secondary-base-color);
    padding: 5px 0;
    width: 92%;
}

.container .row .input-field input:focus {
    outline: none;
}

.container .row .input-field label {
    transform: translateY(-110%);
    transition: .3s;
    width: fit-content;
    cursor: text;
}

.container .row svg {
    position: absolute;
    right: 0px;
    fill: var(--primary-text-color);
}

.container #errorMessage {
    font-size: 0.8em;
    display: none;
    color: red;
}

.container button {
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--accent-text-color);
    font-weight: bolder;
    padding: 15px 0;
    font-size: 1.1em;
    cursor: pointer;
    transition: .2s;
    font-family: LSB;
}

.container button:hover {
    scale: 1.03;
}

.container .forget {
    align-self: flex-end;
    margin-top: -30px;
}

.container .policies {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.container .policies a {
    color: var(--secondary-color);
}

.container .policies .column {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.container a {
    color: var(--primary-text-color);
    transition: .15s;
}

.container a:hover {
    color: var(--secondary-color);
    transition: .15s;
}

/* #endregion */

/* #region Responsivity */
@media (max-width:400px) {

    .container {
        height: 100vh;
        width: 100vw;
        border: none;
        border-radius: 0;
    }

    .container .row .input-field input {
        width: 90%;
    }
}

/* #endregion */