/* #region Main Container*/

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    font-size: 1rem;
    background-color: var(--base-color);
    color: var(--primary-text-color);
    align-items: center;
    gap: 50px;
}

.main-container * {
    color: var(--primary-text-color);
}

/* #region Cards */

.card {
    width: 100%;
    max-height: 700px;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--secondary-base-color);
    gap: 20px;
    margin-top: 20px;
    border-radius: 5px;
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card h2 {
    font-size: 1.6em;
    font-family: LSB;
    margin-bottom: 10px;
}

.image {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image img {
    max-height: 700px;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* #endregion */

/* #region Banner Section */
.banner {
    width: 100%;
    height: 750px;
    margin-top: 125px;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.banner-content {
    background-color: #e7ecef44;
    backdrop-filter: blur(10px);
    height: 100%;
    max-width: 550px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--base-color);
}

.banner h1 {
    color: var(--accent-text-color);
    font-size: 2.5em;
    font-family: "LSB";
    padding: 15px;
    margin-top: 30px;
    text-align: center;
}

.banner h2 {
    color: var(--accent-text-color);
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.get-started {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: "LSB";
    cursor: pointer;
    width: 150px;
}

#primary-button {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

#secondary-color {
    color: var(--primary-text-color);
    background-color: var(--base-color);
}

/* #endregion */

/* #region About Us */

.about-us-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
}

#about-us {
    position: absolute;
    top: -150px;
}

.about-us-container .card {
    grid-template-areas: "about image";
}

.about-content {
    grid-area: about;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-content p {
    line-height: 1.5em;
    text-align: justify;
}

ul li {
    margin: 5px 0px;
    margin-left: 30px;
}

strong,
h3 {
    font-family: LSB;
}

/* #endregion */

/* #region Contact */

#contact {
    position: absolute;
    top: -150px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    position: relative;
    margin-bottom: 50px;
}

.contact-container .card {
    grid-template-areas: "contact image";
}

.contact-content {
    grid-area: contact;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-family: LSB;
    font-weight: 400;
    font-size: 1.1em;
}

#messageInput {
    resize: none;
    height: 100%;
    background-color: var(--accent-base-color);
    color: var(--primary-text-color);
    border: none;
    border-radius: 10px;
    box-shadow: var(--container-shadow);
    padding: 10px 0 10px 10px;
    font-size: 1.05em;
    margin: 10px 0;
}

#messageInput:focus {
    outline: 2px solid var(--secondary-color);
}

#messageInput::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

#messageInput::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;

    /* fake margin */
    border: 5px solid transparent;
    background-clip: content-box;
}

.actions-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.btn {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--base-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: .3s;
    font-family: Lato Regular;
}

.btn:hover {
    transition: .3s;
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

/* #endregion */

/* #endregion */

/* #region Animations */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
        clip-path: inset(100% 100% 100% 100%);
        /* transform: translateX(-100%); */
    }

    to {
        opacity: 1;
        scale: 1;
        clip-path: inset(0 0 0 0);
        /* transform: translateX(0%); */
    }
}

/* #endregion */

/* #region Responsivity */

@media (max-width:725px) {

    .banner {
        height: 500px;
    }

    .banner-content {
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 3px solid var(--base-color);
    }
}

/* Mobile View */

@media (max-width:850px) {
    .get-started {
        flex-direction: column;
    }
}

@media (max-width:1200px) {
    .about-content {
        padding: 20px;
    }
}

/* About Us */
@media (max-width:1230px) {
    .about-us-container .card {
        grid-template-areas:
            "image"
            "about";
    }

    .contact-container .card {
        grid-template-areas:
            "contact";
    }

    .contact-container .card .image {
        display: none;
    }

    .contact-container .card #messageInput {
        min-height: 200px;
    }

    .card {
        grid-template-rows: 1fr auto;
        grid-template-columns: none;
        max-height: none;
    }

    .image img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0px;
    }

    .about-content {
        justify-content: start;
        gap: 20px;
    }
}

@media (max-width:500px) {
    .about-us-container {
        width: 100%;
    }

    .contact-container {
        width: 100%;
        border-radius: 0%;
    }
}

/* #endregion */