/* #region Adding Custom Fonts */
@font-face {
    font-family: "Lato Regular";
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "LSB";
    src: url(/fonts/LeagueSpartan-Bold.otf);
}

/* #endregion */

/* #region Setting Basic Properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato Regular";
    font-size: 1rem;
}

/* #endregion */

/* #region Defining Colours */
:root {
    --base-color: #e7ecefff;
    /* antiflash-white */
    --primary-text-color: #111111;
    --secondary-text-color: #333333;
    --accent-text-color: #f0f0f0;
    --primary-color: #274c77ff;
    /* inmn-blue */
    --secondary-color: #0870bd;
    /* air-superiority-blue */
    /* --battleship-gray: #8b8c89ff;  */
    /* --uranian-blue: #a3cef1ff; */
}

.darkmode {
    --base-color: #070b1d;
    --primary-text-color: #ffffff;
    --secondary-text-color: #dddddd;
    --primary-color: #274c77ff;
    --secondary-color: #0870bd;
}

/* #endregion */

/* #region Dark Mode Toggling Button */
#dark-mode-switch {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: var(--base-color);
    z-index: 5;
}

#dark-mode-switch svg {
    fill: var(--primary-text-color);
}

/* #endregion */

/* #region Navigation Bar Parts */
nav {
    position: relative;
    background-color: var(--base-color);
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 30px;
    border-bottom: 5px solid var(--secondary-color);
}

.logo img {
    width: 80px;
    height: 80px;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
}

.items a {
    font-family: "LSB";
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2em;
    position: relative;
    padding: 10px 5px 5px;
    transition: .3s;
}

.items a::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    background-color: var(--primary-text-color);
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    transition: .3s;
}

.items a::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    background-color: var(--primary-text-color);
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    transition: .3s;
}

.items a:hover::after,
.items a:hover::before {
    width: 100%;
    transition: .3s;
}

.items a:hover {
    letter-spacing: 4px;
    background-color: var(--secondary-color);
    transition: .3s;
}

.profile-icon {
    position: relative;
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.profile-icon-dropdown-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: calc(100% + 12px);
    background-color: var(--base-color);
    border: 2px solid var(--secondary-color);
    width: 250px;
    padding: 10px 0;
    transform-origin: top right;
    transform: translateY(-8px) scale(0.97);
    opacity: 0;
    border-radius: 8px;
    transition: opacity .2s ease, transform .3s cubic-bezier(.2, .9, .2, 1);
    z-index: 3;
}

.profile-icon-dropdown-container a {
    padding: 10px 15px;
    text-align: left;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: LSB;
    width: 100%;
    display: block;
    transform: translateY(6px);
    opacity: 1;
    transition: transform .3s ease, opacity .2s ease;
}

.profile-icon-dropdown-container a:hover {
    backdrop-filter: brightness(2);
    color: var(--accent-text-color);
}



.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu svg {
    fill: var(--secondary-color);
}

.items-vertical {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 123px;
    z-index: 1;
    background-color: var(--base-color);
    transform: translateX(100%);
    border: 5px solid var(--secondary-color);
    border-top: none;
    border-right: none;
    border-bottom: none;
    transition: .3s transform;
    justify-content: start;
    align-items: flex-start;
    height: calc(100vh - 123px);
    width: 70%;
}

.items-vertical a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: LSB;
    padding: 20px 0px;
    padding-left: 15px;
    transition: .3s padding;
    width: 100%;
    text-align: left;
}

.items-vertical a:hover {
    padding-left: 25px;
    backdrop-filter: brightness(2);
}

.my-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    align-items: center;
}

.my-profile:hover {
    backdrop-filter: brightness(2);
}

.my-profile p {
    font-family: LSB;
    color: var(--primary-text-color);
}

.profile-dropdown-conatiner {
    display: none;
    flex-direction: column;
    width: 100%;
}

.profile-dropdown-conatiner a {
    padding-left: 25px;
    width: 100%;
}

.profile-dropdown-conatiner a:hover {
    padding-left: 35px;
}

#dropdown-icon {
    transition: .3s rotate;
}

/* #endregion */

/* #region Main Container*/

.main-container {
    display: flex;
    width: 100vw;
    font-size: 1rem;
    background-color: var(--base-color);
}

/* #region Banner Section */
.banner {
    width: 100%;
    height: 750px;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.banner-content {
    background-color: #e7ecef44;
    backdrop-filter: blur(10px);
    height: 100%;
    max-width: 550px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--base-color);
}

.banner h1 {
    color: var(--accent-text-color);
    font-size: 2.5em;
    font-family: "LSB";
    padding: 15px;
    margin-top: 30px;
    text-align: center;
}

.banner h2 {
    color: var(--accent-text-color);
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.get-started {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: "LSB";
    cursor: pointer;
}

#primary-button {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

#secondary-color {
    color: var(--primary-text-color);
    background-color: var(--base-color);
}

/* #endregion */

/* #endregion */

/* #region Responsivity */
@media (max-width:725px) {
    nav .items {
        gap: 15px;
    }

    .banner {
        height: 500px;
    }

    .banner-content {
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 3px solid var(--base-color);
    }
}

/* Mobile View */
@media (max-width:650px) {

    .items,
    nav>.profile-icon {
        /* flex-direction: column; */
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}

@media (max-width:850px) {
    .get-started {
        flex-direction: column;
    }
}

/* #endregion */