/* #region Main Container*/

.main-container {
    display: flex;
    width: 100vw;
    font-size: 1rem;
    background-color: var(--base-color);
}

/* #region Banner Section */
.banner {
    width: 100%;
    height: 750px;
    margin-top: 125px;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.banner-content {
    background-color: #e7ecef44;
    backdrop-filter: blur(10px);
    height: 100%;
    max-width: 550px;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--base-color);
}

.banner h1 {
    color: var(--accent-text-color);
    font-size: 2.5em;
    font-family: "LSB";
    padding: 15px;
    margin-top: 30px;
    text-align: center;
}

.banner h2 {
    color: var(--accent-text-color);
    font-size: 1.2em;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.get-started {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: "LSB";
    cursor: pointer;
    width: 150px;
}

#primary-button {
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

#secondary-color {
    color: var(--primary-text-color);
    background-color: var(--base-color);
}

/* #endregion */

/* #endregion */

/* #region Responsivity */

@media (max-width:725px) {

    .banner {
        height: 500px;
    }

    .banner-content {
        width: 100%;
        max-width: none;
        border-right: none;
        border-bottom: 3px solid var(--base-color);
    }
}

/* Mobile View */

@media (max-width:850px) {
    .get-started {
        flex-direction: column;
    }
}

/* #endregion */