/* #region Basic Elements */
body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    color: var(--primary-text-color);
    margin-bottom: 200px;
}

/* #endregion */

/* #region Title */
.container h1 {
    font-size: 1.7em;
    font-family: LSB;
}

.container h2 {
    margin-top: 20px;
}

/* #endregion */

/* #region New booking Button */
.container .add-button {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: var(--base-color);
    color: var(--secondary-color);
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    transition: .3s;
}

.container .add-button svg {
    fill: var(--secondary-color);
}

.container .add-button:hover {
    transition: .3s;
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
}

.container .add-button:hover svg {
    fill: var(--accent-text-color);
}

.details-container {
    margin: 10px 0px 0px 8px;
}

.details-container:has(#details:checked) ~ table .detailed {
  display: table-cell;
}

.detailed {
  display: none;
}

.spacer {
    margin-bottom: 300px;
}

/* #endregion */

/* #region My Bookings Table */
table {
    background-color: var(--secondary-base-color);
    border-radius: 20px;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: hidden;
}

tr {
    width: 100%;
}

th {
    font-family: LSB;
}

tr:first-child {
    position: relative;
}

tr:first-child::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: 0;
    left: 0;
}

tr:nth-child(even) td {
    background-color: var(--accent-base-color);
}

tr:nth-child(odd) td {
    background-color: var(--secondary-base-color);
}


td,
th {
    padding: 20px;
    width: fit-content;
    text-align: center;
    color: var(--primary-text-color);
}

/* top-left and top-right corners */
tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

/* bottom-left and bottom-right corners */
tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}

tr:hover {
    filter: contrast(0.95);
}

.delete-btn {
    background-color: var(--delete-color);
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.delete-btn svg {
    fill: var(--accent-text-color);
}

/* #endregion */

/* #region Responsivity */

@media (max-width: 730px) {
  table {
    display: block;
    overflow-x: scroll;
  }

  table::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
  }

  table::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
}

/* Only when checkbox is checked */
@media (max-width: 1200px) {
  .details-container:has(#details:checked) ~ table {
    display: block;
    overflow-x: scroll;
  }

  .details-container:has(#details:checked) ~ table::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
  }

  .details-container:has(#details:checked) ~ table::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
  }

  .details-container:has(#details:checked) ~ table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
  }

  .details-container:has(#details:checked) ~ table tr:last-child td:last-child {
    border-bottom-right-radius: 0;
  }
}

/* #endregion */