body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.container h1 {
    font-size: 1.7em;
    font-family: LSB;
}

.container a {
    width: fit-content;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    text-decoration: none;
    border-radius: 20px;
}