/* #region Color Palette */

:root {
    --asplaht-gray: #8C8A84;
    --parking-zone: #efefef;
    --selected-color: #a1c349;
    --reserved-color: #d9534f;
}

/* #endregion */

/* #region Header */
.main-container {
    width: 100%;
    background-color: var(--base-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
}

form {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: var(--base-color);
    padding: 20px 0px;
    margin-top: 150px;
}

.header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 5px;
}

.header h1 {
    font-family: LSB;
    font-size: 1.8em;
}

.header a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.header a svg {
    fill: var(--primary-text-color);
}

h4 {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* #endregion */

/* #region Parking Space Selector */

.parking-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.parking-map {
    position: relative;
    display: grid;
    grid-template-areas: "vertical-container horizontal-container";
    grid-template-columns: 2fr 3fr;
    align-self: center;

    width: 100%;
    max-width: 600px;
    max-height: 600px;
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: var(--asplaht-gray);
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: var(--container-shadow);
    color: var(--accent-text-color);
    margin-top: 10px;
}

id {
    pointer-events: none;
    user-select: none;
}

.vertical-container {
    grid-area: "vertical-container";
    display: flex;
    flex-direction: column;
    height: 100%;
}

.vertical-container .horizontal-slot {
    position: relative;
    display: flex;
    align-items: center;

    height: calc(100% / 10);
    width: 50%;
    border-top: 2px solid var(--parking-zone);
    border-right: 0px solid var(--parking-zone);
    border-bottom: 2px solid var(--parking-zone);
    border-left: 4px solid var(--parking-zone);
    padding-left: 5px;
}

.vertical-container .horizontal-slot:first-child {
    border-top: 4px solid var(--parking-zone);
}

.vertical-container .horizontal-slot:last-child {
    border-bottom: 4px solid var(--parking-zone);
}

.reserved label {
    pointer-events: none;
}

.vertical-container .horizontal-slot input {
    display: none;
}

.vertical-container .horizontal-slot label {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -5px;
    cursor: pointer;
}

.vertical-container .horizontal-slot:has(input:checked) {
    background-color: var(--selected-color);
}

.horizontal-container {
    grid-area: "horizontal-container";

    display: grid;
    grid-template-areas:
        "row1"
        "row2"
        "row3";
    grid-template-rows: repeat(3, 1fr);
}

/* Horizontal container row - top */
.horizontal-container .row {
    grid-area: "row1";
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Horizontal container row - middle */
.horizontal-container .col {
    grid-area: "row2";
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 10px;
}

.horizontal-container .col svg {
    width: 50px;
    height: 50px;
    fill: var(--parking-zone);
}

.horizontal-container .col svg:nth-child(1) {
    rotate: 180deg;
}

/* Horizontal container row - bottom */
.horizontal-container .bottom-row {
    grid-area: "row3";
    align-items: flex-end;
}

.horizontal-container .bottom-row .vertical-slot label {
    margin-bottom: -5px;
}

/* Horizontal slots - top row */
.horizontal-container .row .vertical-slot {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 5);
    height: 50%;
    border-left: 2px solid var(--parking-zone);
    border-top: 4px solid var(--parking-zone);
    border-right: 2px solid var(--parking-zone);
    border-bottom: 0px solid var(--parking-zone);
    padding-top: 5px;
}

.horizontal-container .row .vertical-slot:first-child {
    border-left: 4px solid var(--parking-zone);
}

.horizontal-container .row .vertical-slot:last-child {
    border-right: 4px solid var(--parking-zone);
}

/* Horizontal slots - bottom row */
.horizontal-container .bottom-row .vertical-slot {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /* justify-content: flex-end; */

    width: calc(100% / 5);
    height: 50%;
    border-left: 2px solid var(--parking-zone);
    border-top: 0px solid var(--parking-zone);
    border-right: 2px solid var(--parking-zone);
    border-bottom: 4px solid var(--parking-zone);
    padding-bottom: 5px;
}

.horizontal-container .bottom-row .vertical-slot:first-child {
    border-left: 4px solid var(--parking-zone);
}

.horizontal-container .bottom-row .vertical-slot:last-child {
    border-right: 4px solid var(--parking-zone);
}

.horizontal-container .vertical-slot input {
    display: none;
}

.horizontal-container .vertical-slot label {
    font-size: 1.5em;
    margin-top: -5px;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.horizontal-container .vertical-slot:has(input:checked) {
    background-color: var(--selected-color);
}

.slot svg {
    display: block;
    fill: var(--parking-zone);
    width: 60%;
    height: 60%;
}

.reserved {
    background-color: var(--reserved-color);
} 

#deleteSelection {
    margin-top: 10px;
    color: var(--primary-text-color);
    cursor: pointer;
    display: block;
    opacity: 0.5;

    padding: 7px 10px;
    color: var(--accent-text-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    width: fit-content;
}

.visible {
    opacity: 1 !important;
}

/* #region Level Selector */

.level-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 70%;
    padding: 30px 0px;
    color: var(--primary-text-color);
    align-self: center;
    position: relative;
}

.level-select .circle {
    color: var(--primary-text-color);
    text-decoration: none;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--secondary-base-color);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.level-select .line {
    width: calc(100% / 11);
    height: 4px;
    background-color: var(--secondary-base-color);
}

.selected-level {
    background-color: var(--secondary-color) !important;
    color: var(--accent-text-color) !important;
}

#floorTitle {
    position: absolute;
    top: 0;
    margin-top: 5px;
}

/* #endregion */

/* #endregion */

/* #region Form */

.form-items-container {
    display: grid;
    grid-template-areas:
        "row1"
        "row2"
        "row3"
        "row4";
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    flex-direction: column;
    width: 50%;
    padding-left: 10px;
}

.form-items-container .row {
    position: relative;
    display: flex;
    flex-direction: column;
}

.multiple {
    gap: 15px;
}

.form-items-container .row h3 {
    margin-left: 5px;
}

.form-items-container .row button {
    width: 80%;
    background-color: var(--secondary-color);
    color: var(--accent-text-color);
    padding: 10px;
    border: none;
    border-radius: 20px;
    align-self: center;
    box-shadow: var(--container-shadow);
    cursor: pointer;
}

.form-items-container .row .form-field-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    gap: 5px;
    align-items: center;
}

.form-items-container .row .form-field-row .form-field {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    height: 100%;
}

.form-items-container .row .form-field-row .form-field input {
    padding: 10px 5px;
    margin-top: 5px;
    border: none;
    background-color: var(--secondary-base-color);
    box-shadow: var(--container-shadow);
    border-radius: 20px;
    cursor: text;
    color: var(--primary-text-color);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    cursor: pointer;
}

.form-items-container .row .form-field-row .form-field svg {
    fill: var(--primary-text-color);
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
    width: 22px;
    height: 22px;
}

.form-items-container .row .form-field-row .form-field input::placeholder {
    color: var(--primary-text-color);
    opacity: 0.5;
}



.form-items-container .row .form-field-row .form-field input:focus {
    outline: 2px solid var(--secondary-color);
}

.form-items-container .row .form-field-row .form-field label {
    margin-left: 5px;
}

/* #endregion */

/* #region Responsivity */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .parking-map {
        max-width: 800px;
        max-height: 800px;
    }

    .parking-container,
    .form-items-container {
        width: 100%;
    }

    .form-items-container {
        padding-left: 0px;
    }
}

@media (max-width:450px) {
    .form-items-container .row .form-field-row {
        flex-direction: column;
    }

    .form-items-container .row .form-field-row .form-field {
        width: 100%;
    }

    .form-items-container .row .form-field-row .form-field input {
        width: 100%;
    }
}

@media (max-width:410px) {
    .parking-map {
        height: auto;
    }
}

/* #endregion */